openapi: 3.0.3
info:
  title: Govbuddy API
  description: |-
    The Govbuddy API delivers rich data about politicians in California.
  termsOfService: https://www.govbuddy.com/about/tos/
  contact:
    email: info@govbuddy.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.01
externalDocs:
  description: Find out more about Govbuddy
  url: https://www.govbuddy.com
servers:
  - url: https://api.govanalyze.com/api/
tags:
  - name: people
    description: Pull data about all politicians in California
    externalDocs:
      description: Find out more
      url: https://www.govbuddy.com
paths:
  /people/get:
    get:
      tags:
        - people
      summary: Fetch all politician records
      description: Returns a paginated list of People records 
      operationId: getPeople
      parameters:
        - name: api_key
          in: query
          description: Your API key, provided by a Govbuddy administrator
          required: true
          schema:
            type: string
        - name: secret_key
          in: query
          required: true
          description: Your API secret key, provided by a Govbuddy administrator
          schema:
            type: string
        - name: include_inactive
          in: query
          description: Flag to specify whether or not to include inactive politician records in the response
          required: false
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          description: Which page of results to paginate to, starting with 0 for the first page of results
          required: false
          schema:
            type: integer
            format: int64
        - name : per_page
          in: query
          description: How many results to return per request
          required: false
          schema:
            type: integer
            format: int64
            default: 50
        - name: updated_at
          in: query
          description: A datetime specifying a cutoff to filter results by. This will filter results to only records which have updated or modified after the cutoff datetime that you provide. This parameter expects the following format - "YYYY-MM-DD HH:MM:SS" using 24 hr time formatting in the GMT / UTC timezone.
          required: false
          schema:
            type: string
            format: date-time
            
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponse'          
        '401':
          description: Invalid api_key or secret_key
      security:
        - api_key:
            - read:people

components:
  schemas:
    Person:
      type: object
      properties:
        person_id:
          type: integer
          format: int64
          example: 123
        active:
          type: boolean
          example: true
        updated_at:
          type: string
          format: date-time
          example: 2023-01-01 12:00:00
        name_first:
          type: string
        name_last:
          type: string
        agency_type:
          type: string
          example: City
        party:
          type: string
          example: Democrat
        elected_date:
          type: string
          example: 2020-11-01
        elected_year:
          type: string
          example: 2020
        elected_appointed:
          type: integer
          format: int64
          example: 1
        address1: 
          type: string
          example: 123 Main St, Sacramento, CA
        city:
          type: string
          example: Sacramento
        email:
          type: string
          example: user@server.com
        website:
          type: string
          example: https://www.website.com
        term:
          type: string
          example: Term 3
        ballot_designation:
          type: string
          example: Incumbent
        runoff_election:
          type: integer
          format: int64
          example: 0
        votes_received:
          type: integer
          format: int64
          example: 999
        votes_percent_received:
          type: number
          example: 0.75
        votes_total:
          type: integer
          format: int64
          example: 9999
        gender:
          type: string
          example: Female
        ethnicity:
          type: string
          example: Asian
        agency_name:
          type: string
          example: City of Sacramento
        ward:
          type: string
          example: Bakersfield - 1
        veteran:
          type: string
          example: Yes
        labor:
          type: string
          example: No
        green:
          type: string
          example: Yes
        lgbtq:
          type: string
          example: No
        date_of_birth:
          type: string
          example: 1991-01-01
        social_facebook:
          type: string
          example: https://www.facebook.com/user123
        social_twitter:
          type: string
          example: https://www.twitter.com/user123
        social_instagram:
          type: string
          example: https://www.instagram.com/user123
        social_linkedin:
          type: string
          example: https://www.linkedin.com/in/user123
        phone: 
          type: string
          example: +15551112222
        fax:
          type: string
          example: +15551112222
        district_title:
          type: string
        termed_out:
          type: string
          example: 2023-03-29
        council_website:
          type: string
          example: https://www.website.com
        platform:
          type: string
          example: <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>\r\n<p class=\"MsoNormal\">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
        bio:
          type: string
          example: <p>\r\n  <p class=\"MsoNormal\">\r\n    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.\r\n  </p>\r\n  <p class=\"MsoNormal\">\r\n    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.\r\n  </p>\r\n</p>
        endorsements:
          type: string
          example: <ul>\r\n  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>\r\n  <li>Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</li>\r\n  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>\r\n</ul>\r\n
        headshot_url:
          type: string
          example: https://api.govanalyze.com/images/people/123.jpg
        political_history:
          type: array
          items:
            $ref: '#/components/schemas/PoliticalHistory'
      xml:
        name: person
    PoliticalHistory:
      type: object
      properties:
        elected_date: 
          type: string
          example: 2006-06-06
        term:
          type: string
        office: 
          type: string
          example: CITY COUNCIL
        ballot_designation:
          type: string
          example: Retired Administrator
        incumbent:
          type: string
          example: N
        votes_received:
          type: integer
          format: int64
          example: 12312
        votes_percent_received:
          type: number
          example: 0.276
        total_votes:
          type: number
          format: int64
          example: 123123
        rank:
          type: number
          format: int64
          example: 5
    ApiResponse:
      type: object
      properties:
        error:
          type: boolean
        count:
          type: integer
          format: int64
        total_records:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
        data:
          type: array
          items:
            $ref: '#/components/schemas/Person'
      xml:
        name: apiresponse
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
      
